body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8F8FF !important;
}

main {
  padding: 1rem;
  flex: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.site-container {
  min-height: 100vh;
}

.rating span {
  color: #ffc800;
}

.img-large {
  max-width: 100%;
}

.product-lg {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.no-thumbnail-border.img-thumbnail {
  height: 80px;
  border: none;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #D3D3D3;
  color: #D3D3D3;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #194d31;
  color: #194d31;
}

.navbar-brand {
  font-weight: bold;
}

.side-navbar {
  width: 240px;
  height: 130%;
  position: absolute;
  left: -300px;
  background-color: #194d31;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}

.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}

.text-bold {
  font-weight: bold;
}

.center-image {
  display: block;
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}

.order-lg {
  margin-bottom: 0.5rem;
}

.navbar {
  background-color: #1B4D3E;
}

.btn-primary {
  background-color: #427147 !important;
  border-color: #427147 !important;
  transition: box-shadow 0.3s ease-in-out;
}

.btn-primary:hover {
  box-shadow: 0 2px 4px #1B4D3E;
}

.btn-outline-light {
  border-color: #427147 !important;
  color: #427147 !important;
  transition: box-shadow 0.3s ease-in-out;
}

.btn-outline-light:hover {
  box-shadow: 0 2px 4px #1B4D3E;
}

.nav-link {
  color: white !important;
}